<h1>{{appTitle}} 🚀</h1>
<p>Phone shop!</p>

<ul id="phones-list"></ul>

<button id="fetch-phone">Fetch the phones</button>

<h2>Create a phone</h2>

<form id="create-form">
	<div>
		<label for="name">Name: </label><input type="text" id="name" name="name" />
	</div>
	<div>
		<label for="price">Price: </label><input
			type="number"
			id="price"
			name="price"
		/>
	</div>
	<button id="create-button">Create that phone</button>
</form>

<h2>Edit a phone</h2>

<form id="edit-form">
	<div>
		<label for="edit-name">Name: </label><input
			type="text"
			id="edit-name"
			name="name"
		/>
	</div>
	<div>
		<label for="edit-price">Price: </label><input
			type="number"
			id="edit-price"
			name="price"
		/>
	</div>
	<button id="edit-button">Edit that phone</button>
</form>