<form action="/pets" method="post">

	<input type="text" name="name" placeholder="Name: " />

	<select name="petType" id="">
		<option selected disabled value="">Select a pet type:</option>
		<option value="dog">dog</option>
		<option value="cat">cat</option>
		<option value="bird">bird</option>

	</select>

	<button>Create a pet</button>

</form>