<nav>

	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/rubberducks">Rubberducks</a></li>
		<li><a href="/rubberducks/create">Create a duck</a></li>
		<li><a href="/auth/signup">Signup</a></li>
		<li><a href="/auth/login">Login</a></li>
		<li><a href="/profile">Profile</a></li>
	</ul>

	<form action="/rubberducks/search" method="GET">

		<label for="search">Search: </label>
		<input
			type="search"
			name="material"
			placeholder="Search by material"
			id="search"
		/>
		<button>Search</button>

	</form>
</nav>